
body {
  font-family: Helvetica, Arial, san-serif;
  background-color: rgb(63, 71, 71);
  color:bisque;
}

h2 {
  font-size: 50px;
  color: white;
  margin-left: 3%
}
  
button {
    height: 130px;
    font-size: 80px;
    background-color: #6d8893;
    color: white;
    border: 3px solid rgb(226, 213, 213);
    border-radius: 20px;
    background-image: linear-gradient(#6d8893, #3d6c7e); /*JD SKIN*/
    /* background-image: linear-gradient(#584b4b, #a6eb37); /*TRUE SKIN*/
}

  .inputButton {
    width: 90px;
    height: auto;
  }
  
.grid-container {
    display: grid;
    /* grid-template-columns: auto auto; */
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
    gap: 5px;
    background-color: #123963; /*JD SKIN */
    padding: 2ch;
    /* background-image: url(assets/images/True_UT.png); /*TRUE SKIN*/
    /* background-repeat: no-repeat; /*TRUE SKIN*/
    /* background-position: center; /*TRUE SKIN*/
    /* background-size: cover; /*TRUE SKIN*/
}
  
  .grid-container > div {
    background-color: #44bbd0;
    /* background-color: rgb(76, 81, 66); /* TRUE SKIN */
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: #123963; /* JD SKIN */
    /* opacity: 95%; /*TRUE SKIN*/
    /* color: #a6eb37; /*TRUE SKIN */
   }
  
  .gridHeader {
    grid-column: 1 / span 2;
    font-size: 60px;
  }

  .headingLeft {
      grid-column: 1 / span 1;
      font-size: 80px;
  }
  
  .headingRight {
      grid-column: 2 / span 1;
      font-size: 80px;
  }
  
  .statLeft {
      grid-column: 1 / span 1;
      font-size: 90px;
  }
  
  .statRight {
      grid-column: 2 / span 1;
      font-size: 90px
  }
  
  .bigButtonLeft {
      grid-column: 1 / span 1;
      touch-action: manipulation;
  }
  
  .bigButtonRight { 
      grid-column: 2 / span 1;
      touch-action: manipulation;
  }

  .wideButton {
    grid-column: 1 / span 2;
      height: 130px;
  }
  
  .buttonDisabled {
    opacity: 0.4;
  }

  button:active {
    background: #350b0b;
    -webkit-box-shadow: inset 0px 0px 5px #381616;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
  }

  input {
    height: 100px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size:80px;
    border-width: 4px;
    font-style: italic;
    background-color:beige
}

